<strong>Ol치, {{deliveryman}}</strong>
<p>Temos uma nova entrega cadastrada para voc칡 游꾸</p>
<h3>Detalhes da Encomenda</h3>
<p>
  <strong>Produto: </strong> {{product}} <br />
  <strong>Destinat치rio: </strong> {{recipient_name}} <br />
  <strong>Endere칞o 游녢</strong>
  <p>
    <strong>Rua: </strong>{{recipient_street}} <br />
    <strong>N칰mero: </strong>{{recipient_streetNumber}} <br />
    <strong>Complemento: </strong>{{recipient_complement}} <br />
    <strong>Cidade: </strong>{{recipient_city}} <br />
    <strong>Estado: </strong>{{recipient_state}} <br />
    <strong>CEP: </strong>{{recipient_zipcode}}
  </p>
   <small>
     A encomenda j치 est치 dispon칤vel para retirada!
   </small>
</p>
